.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light-color);
  z-index: 9999;
}

.spinner {
  width: 80px;
  height: 80px;
  position: relative;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--primary-color);
  animation: spin 1.5s linear infinite;
}

.spinner:after {
  border-top-color: var(--secondary-color);
  animation: spin 1s linear infinite reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}