.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(30, 30, 46, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

li a {
  color: var(--dark-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  font-weight: 500;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--primary-color);
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--dark-color);
  z-index: 1001;
}

@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  .mobile-menu-button {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 4em;
    right: 0;
    height: 30vh;
    width: 100%;
    background-color: var(--light-color);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-links.mobile-open {
    transform: translateX(0);
  }

  .nav-links li a {
    font-size: 1.2rem;
  }
}