.skills {
  background-color: var(--light-color);
  background-color: transparent;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.skill-card {
  background-color: var(--card-bg-color);
  border-radius: 15px;
  max-width: 20em;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.skill-icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.skill-card h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.skillitems {
  color: var(--primary-color);
}

.skill-card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-card li {
  background-color: rgba(136, 57, 239, 0.1);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Dark mode styles */
.dark h2 {
  color: var(--dark-color);
}

.dark .skills h4 {
  color: var(--dark-color);
}

h4 {
  color: var(--dark-color);
}

.dark .skill-card {
  background-color: var(--card-bg-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.dark .skill-card li {
  background-color: rgba(136, 57, 239, 0.2);
}

/* Responsive styles */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
}