.testimonials {
    background-color: var(--light-color);
}

.testimonials-container {
  max-width: 1200px;
  margin: 0 auto;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.testimonial-card {
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  max-width: 30em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.author-info p{
    color: black;
}
.dark .author-info p{
    color: rgb(255, 255, 255);
}
.dark .testimonial-card {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.testimonials .author-info h4{
    color: #a257fa;
}
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.testimonial-content p {
  font-style: italic;
  margin-bottom: 1.5rem;
  position: relative;
}

.testimonial-content p::before,
.testimonial-content p::after {
  content: '"';
  font-size: 3rem;
  color: var(--primary-color);
  opacity: 0.2;
  position: absolute;
}

.testimonial-content p::before {
  top: -20px;
  left: -10px;
}

.testimonial-content p::after {
  bottom: -40px;
  right: -10px;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-info h4 {
  margin-bottom: 0.3rem;
}

.author-info p {
  font-size: 0.9rem;
  color: var(--gray-color);
}

@media (max-width: 768px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
}